.cproject
.gclient
.project
.pydevproject
.DS_Store
.settings/
/.vscode/
/build/
build_system/__pycache__/
build_system/sysroot/linux/debian_sid_amd64-sysroot/
build_system/sysroot/linux/debian_sid_amd64-sysroot.tgz
*.bmp
Debug/
